name: "CI Pipeline"

on: push

env:
  # verbosity setting for Terraform logs
  TF_LOG: INFO

jobs:
  terraform:
    name: "Terraform"
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_AD_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_AD_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_AD_TENANT_ID }}
    runs-on: ubuntu-latest
    environment: development

    defaults:
      run:
        shell: bash
        working-directory: ./src/Mcce.SmartOffice.Terraform/

    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        id: init
        run: terraform init -backend-config="resource_group_name=${{ vars.AZURE_TFSTATE_RESOURCEGROUP }}" -backend-config="storage_account_name=${{ vars.AZURE_TFSTATE_STORAGEACCOUNT }}" -backend-config="container_name=${{ vars.AZURE_TFSTATE_CONTAINER }}"

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
